<html>
    <head>
        <link href="/assets/style.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <h1>First name:</h1>
        <h2>Query string value: </h2>
    </body>
</html>